<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item lines="none">
      <img slot="start" src="assets/logos/development tools.png" width="100">
      <ion-segment value="components">
        <ion-segment-button  value="components"><ion-label>AI Components</ion-label></ion-segment-button>
      </ion-segment>
    </ion-item>
    <ion-menu-button slot="end" color="primary" auto-hide="true" menu="slidingMenu"></ion-menu-button>
  </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true" style="display: flex; justify-content: center; align-items: center;">
  <ion-row style="display: flex; justify-content: center; align-items: center; height: 90%;">
    <ion-col style="text-align: center; opacity: 0.6;">
      <img src="assets/imgs/AI_Comingsoon.webp" alt="Example WebP Image" style="max-height: 500px;">
    </ion-col>
  </ion-row>
</ion-content>
